h3{
  text-align: left
}
.normal{
  display: flex;
  flex-direction: column
}
.welcome {
  height: 328px;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
